html, 
body {
    height: 100%;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .wrapper {
    flex: 1 0 auto;
  }
  
h3 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-family: 'Abhaya Libre', serif;
}

h5 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
    font-family: 'Dancing Script', cursive;
}

.brand-logo {
    font-family: 'Dancing Script', cursive;
}

.nav-wrapper {
    background-color: #9797FF;
}

a:hover {
    text-decoration: none;
    color: #eee;
}

#contactContain {
    margin-bottom: 270px;
}

.jumbotron {
    background-color: white;
}

.intro {
    background-color: lavender;
    width: 100%;
}
/* .jumbotext {
    margin-bottom: 200px;
} */

.headshot {
    border-radius: 50%;
}

.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
}


  .footer
{
    flex-shrink: 0;
  }

.footer-copyright,
  footer {
    /* Box-model */
    /* padding: 30px 0; */
    text-align: center;
    background-color: #A389FF;
    /* Positioning */
    clear: both;
    font-size: 12px;
  }

#footer-style {
    background-color: #9797FF;

}

/* portfolio page */
/* ================================ */
.work {
    /* Positioning */
    position: relative;
    float: right;
  
    /* Box-model */
    width: 400px;
    margin: 30px 0 45px;
    /* overflow: auto; */
    height: auto;
    border: 1 solid black;
  }
  
  .work:nth-child(even) {
    margin-right: 50px;
  }
  
  .work img {
    /* Box-model */
    width: 100%;
  
    /* Visual */
    border: 1px solid black;
  
    /* Misc */
    /* opacity: 0.8; */
  }
  
  .work h3 {
    /* Positioning */
    position: absolute;
    bottom: -100px;
    width: auto;
  
    /* Box-model */
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
  }

  /* #workSpace {
      padding: 7px;
  } */

  .row,
  .row > .col-sm-5  {
    padding: 7px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .pieceTitle {
    font-weight: bold;
    font-size: 18px;
  }

  .gitText {
    font-size: 14px;
  }

  #gitText {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  #gitText:hover {
    color: #FF9173;
}

  /* Contact Form */
  /* ======================== */
#contactLink {
    text-decoration: none;
    color: black;
}

#contactLink:hover {
    color: #FF9173;
}

.contactText {
    font-weight: bold;
}

  #button-style {
      margin-bottom: 100px;
      background-color: #FF9173;
  }

  form {
      margin-top: 50px;
  }
/* =============================== */

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}